body{margin:0;}
header {
    width:100%;
    height:30px;
    background-color:#3ADF00;
    display:inline-block;
    margin:0;
}

.toolbarItem{
    float:right;
    vertical-align:middle;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

ul.tableView{
    width:100%;
    list-style-type:none;
    margin-top:50px;
    padding:0;
    overflow:hidden;
}

li.tableItem{
    display:inline-block;
    text-align:center;
    height:200px;
    width:210px;
    border:1px;
    /*background-color:#FFF8D7;*/
    background-color:lightgreen;
    margin:30px;
    float:left;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -o-border-radius:20px;
}

li.tableItem.active {
    background-color:red;
}

.loadContent{
    margin:100px;
}

.starter-template {
	margin-top:50px;
}